

<!-- ========== HEADER ========== -->
<header id="header" class="navbar navbar-expand-lg navbar-sticky-top navbar-light navbar-end flex-column">
  <nav class="navbar-topbar">
    <div class="container">
      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topbarNavbar" aria-controls="topbarNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="d-flex justify-content-between align-items-center">
          <span class="me-2">Topbar</span>
          <span class="navbar-toggler-default">
            <i class="bi-chevron-down"></i>
          </span>
          <span class="navbar-toggler-toggled">
            <i class="bi-chevron-up"></i>
          </span>
        </span>
      </button>
      <!-- End Toggler -->

      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="topbarNavbar">
        <div class="navbar-topbar-collapse-toggler">
          <span class="navbar-topbar-toggler-text">Topbar</span>

          <!-- Toggler -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topbarNavbar" aria-controls="topbarNavbar" aria-expanded="true" aria-label="Toggle navigation">
            <i class="bi-x"></i>
          </button>
          <!-- End Toggler -->
        </div>

      </div>
      <!-- End Collapse -->
    </div>
  </nav>

  <div class="container">
    <nav class="js-mega-menu navbar-nav-wrap">
      <!-- Default Logo -->
      <a class="navbar-brand" href="/" aria-label="Unify">
		  <h3>BlockGeek</h3>
      </a>
      <!-- End Default Logo -->

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-default">
          <i class="bi-list"></i>
        </span>
        <span class="navbar-toggler-toggled">
          <i class="bi-x"></i>
        </span>
      </button>
      <!-- End Toggler -->

      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <div class="navbar-sticky-top-scroller">
          <ul class="navbar-nav nav-pills">


            

         


          </ul>
        </div>
      </div>
      <!-- End Collapse -->
    </nav>
  </div>
</header>
<!-- ========== END HEADER ========== -->
